
<body>

	<h1> Insert Book Details </h1>

	<form class="border p-5" method="post" asp-action="insert">

		<div class="form-group">
			<label for="title">Book Title</label>
			<input type="text" class="form-control" id="title" name="title" placeholder="Enter Book Title">
		</div> <br><br />

		<div class="form-group">
			<label for="price">Price</label>
			<input type="text" class="form-control" id="price" name="price" placeholder="Enter Price">
		</div> <br><br />

		<div class="form-group">
			<input type="submit" style="width:auto" class="btn btn-success" value="Add" asp-controller="bms" asp-action="insert"/>
		</div>

	</form>

</body>